---
---

@import "{{ site.theme }}";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

details summary span.done {
  float: right;
}

ol { list-style-type: decimal; }
